.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin-right: 1rem;
    span{
      width: 2rem;
      height: 0.25rem;
      background: black;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
        &:first-child{
          transform: rotate(0);
        }
        &:nth-child(2){
          transform: rotate(0);
          opacity: 1;
        }
        &:nth-child(3){
          transform: rotate(0);
        }
      &.active{
        z-index: 100;
        &:first-child{
          transform: rotate(45deg);
        }
        &:nth-child(2){
          transform: rotate(20px);
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
        }
      }
    }
    &:focus {
      outline: none;
    }
  }