/* Import fonts
@link https://fonts.google.com 
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Breakpoints vars */
@import './breakpoints';

/* Colors vars*/
@import './vars';

/* Components styles */
@import '../components/App/app';
@import '../components/Header/header';
@import '../components/Header/Burger/burger';
@import '../components/Header/Menu/menu';
@import '../components/Home/home';
@import '../components/Hexagrid/hexagrid';
@import '../components/Loader/loader';

html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

/* Upgrade */

h1{
  font-weight: bold;
  font-size: 2rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

// CSS REACT TRANSITION GROUP
.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);
  transition: opacity 250ms ease-out, transform 300ms ease;
}