/* Import fonts
@link https://fonts.google.com 
*/

/* Breakpoints vars */
@import './breakpoints';

/* Colors vars*/
@import './vars';

/* Components styles */
@import '../components/App/app';
@import '../components/Header/header';
@import '../components/Header/Burger/burger';
@import '../components/Home/home';

html,
body {
  height: 100%;
  width: 100%;
}

/* Upgrade */

h1{
  font-weight: bold;
  font-size: 2rem;
}
*{
  box-sizing: border-box;
}