.menu{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    right: 0;
    transition: transform 0.3s ease-in-out;
    background-color: $darkgrey;
    transform: translateY(-150%);
    color: white;
    overscroll-behavior: contain;
    @include media('>tablet'){
        position: static;
        height: 100%;
        width: 100%;
        top: none;
        right: none;
        transition: none;
        background-color: none;
        transform: none;
        overscroll-behavior: none;
      };
    &.active{
        transform: translateY(0%);
        z-index: 99;
        overscroll-behavior: contain;
        @include media('>tablet'){
            transform: none;
            z-index: none;
            overscroll-behavior: none;
          };
      }
    .navigation{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media('>tablet'){
        };
        .list{
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            @include media('>tablet'){
                display: flex;
                flex-direction: row;
                margin: 0rem 1rem;
            };
            a{
                color: $orange;
                @include media('>tablet'){
                    padding: 1rem;
                };
                .item{
                    font-size: 3rem;
                    @include media('>tablet'){
                        font-size: 1.5rem;
                        &:hover{
                            background-color: #ef6a173e;
                            padding: 0.5rem;
                            border-radius: 10px;
                            font-size: 1.7rem;
                            transition: all 0.7s ease-out;
                        }
                    }
                }
            }
            
        }
    }
}
