.home {
    height: 100%;
    width: 100%;
    .homecontainer{
        position: relative;
        .section {
            transition: opacity 0.7s ease-in;
        }
        .presentation {
            height: calc(100vh - 10vh);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
                @include media('>phone', '<=tablet'){
                  };
                @include media('>tablet'){
                };
                .whois{
                    align-self: center;
                    font-size: 3rem;
                    position: absolute;
                    z-index: 3;
                    pointer-events: none;
                    width: 80%;
                    margin: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .sub{
                        align-self:flex-start;
                        color: white;
                        font-size: 1.3rem;
                    }
                    .title{
                        align-self:flex-start;
                        font-size: 3rem;
                        font-weight: bold;
                        color: $orange;
                    }
                    .whatis{
                        color: white;
                    }
                }
                a{
                    pointer-events: visible;
                    text-decoration: none;
                    color: $orange;
                    .button {
                        border: solid 2px $orange;
                        font-size: 1.5rem;
                        padding: 0.5rem;
                        margin: 2rem 0rem;
                        text-align: center;
                        width: 50%; 
                        border-radius: 10px;
                        &:hover{
                            background-color: #ef6a173e;
                            border-radius: 10px;
                            transition: 0.3s;
                        }
                    }
                }
                .arrow{
                    width: 40px;
                    height: 40px;
                    bottom: 50%;
                    margin: -20px 0 0 -20px;
                    transform: rotate(45deg);
                    border-left: none;
                    border-top: none;
                    border-right: 2px #fff solid;
                    border-bottom: 2px #fff solid;
                    left: 50%;
                    z-index: 3;
                    pointer-events: none;
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                }
                .arrow:before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    margin: -10px 0 0 -10px;
                    border-left: none;
                    border-top: none;
                    border-right: 1px #fff solid;
                    border-bottom: 1px #fff solid;
                    position: absolute;
                    left: 50%;
                    z-index: 3;
                    pointer-events: none;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-name: arrow;
                }
                @keyframes arrow {
                    0%{
                        opacity: 1;
                    } 
                    100%{
                        opacity: 0;
                        transform: translate(-10px, -10px);
                    }
                }
        }
        .content{
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1rem;
            .portfolio{
            width: 100%;
            background-color: $darkgrey;
            height: 100%;
            padding: 0rem 1rem;
            @include media('>tablet'){
            padding: 1rem 5rem;
            };
            @include media('>desktop'){
                

            };
            .title{
                color: $orange;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0rem;
            }
            .desc{
                color: white;
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin: 1rem 0rem;
            }
            .technoanimation {
                display: flex;
                justify-content: center;
                height: 100%;
                .prompt-wrapper {
                    position: relative;
                    padding-top: 10px;
                    height: 100%;
                }
                .typing {
                    margin: 1rem;
                    color: white;
                    background-color: $orange;
                    font-size: 2rem;
                    text-transform: uppercase;
                    padding: 1rem;
                    border-radius: 10px;
                }
            }
            }
            .galery{
            height: 100%;
            padding: 1rem;
            background-color: $darkgrey;
            padding: 0rem 1rem;
            font-size: 1.2rem;
            @include media('>tablet'){
                padding: 1rem 5rem;
            };
            .title{
                color: $orange;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0rem;
            }
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                a{
                    text-decoration: none;
                    color: white;
                }
                .card{
                    background-color: #ff813307;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    min-height: 30vh;
                    margin: 1rem 0rem;
                    padding: 0.5rem;
                    color:white;
                    @include media('>tablet'){
                        padding: 1rem 5rem;
                    };
                    &__image{
                        position: absolute;
                        z-index: 1;
                        opacity: 0.1; 
                    }
                    &__title{
                        color: $orange;
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin: 1rem 0rem;
                        z-index: 2;
                    }
                    &__desc{
                        z-index: 2;
                        line-height: 1.2rem;
                    }
                    &__techno{
                        display: flex;
                        flex-wrap: wrap;
                        color: $orange;
                        justify-content: space-around;
                        width: 100%;
                        margin: 1rem 0rem;
                        z-index: 2;
                        div{
                            margin: 0.3rem;
                        }
                    }
                    &__link{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 15vh;
                        z-index: 2;
                    }
                }
            }
            }
            .contact{
            background-color: $darkgrey;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            color: white;
            line-height: 1.5rem;
            font-size: 1.5rem;
            @include media('>tablet'){
                padding: 1rem 5rem;
            };
            .title{
                color: $orange;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0rem;
            }
            .mailto{
                margin: 1rem 0rem;
                text-align: center;
                color:white;
                button{
                    background-color: $orange;
                    margin: 1rem;
                    padding: 1rem;
                    border: none;
                    color: white;
                    border-radius: 10px;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
            }
            }
        }
        .footer{
            display: flex;
            justify-content: center;
            padding: 1rem 0rem;
            @include media('>tablet'){
                position: fixed;
                z-index: 3;
                top: 80%;
                left: 0;
            };
            .network{
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 10vh;
                @include media('>tablet'){
                    display: flex;
                    flex-direction: column;
                };
                div{
                    &:hover{
                        background-color: #ef6a173e;
                        margin: 0.3rem;
                        padding: 0.3rem;
                        border-radius: 10px;
                        transition: 0.3s;
                    }
                }  
            }
        }
    }
.fadeOut { opacity: 0; }
.fadeIn { opacity: 1; }