.home {
    height: 100%;
    width: 100%;
    .container{
        position: relative;
        .presentation {
            .whois{
                z-index: 0;
                align-self: center;
                font-size: 3rem;
                position: absolute;
                top: 12%;
                left: 50%;
                transform: translateX(-50%);
                pointer-events: none;
                width: 80%;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .sub{
                    align-self:flex-start;
                    color: white;
                    font-size: 1.3rem;
                }
                .title{
                    align-self:flex-start;
                    font-size: 3rem;
                    font-weight: bold;
                    color: $orange;
                }
                .whatis{
                    color: white;
                }
            }
            a{
                pointer-events: visible;
                text-decoration: none;
                color: $orange;
                .button {
                    border: solid 2px $orange;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    margin: 2rem;
                    text-align: center;
                    width: 50%; 
                }
            }
            
        }
        .portfolio{
            width: 100%;
            background-color: $darkgrey;
            height: 100%;
            padding: 1rem;
            .title{
                color: $orange;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0rem;
            }
            .desc{
                color: white;
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin: 1rem 0rem;
            }
            .technoanimation {
                display: flex;
                justify-content: center;
                height: 100%;
                .prompt-wrapper {
                    position: relative;
                    padding-top: 10px;
                    height: 100%;
                }
                .typing {
                    margin: 1rem;
                    color: white;
                    background-color: $orange;
                    font-size: 2rem;
                    text-transform: uppercase;
                    padding: 1rem;
                    border-radius: 10px;
                }
            }
        }
        .galery{
            height: 100%;
            padding: 1rem;
            background-color: $darkgrey;
            .title{
                color: $orange;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0rem;
            }
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                a{
                    text-decoration: none;
                    color: white;
                }
                .card{
                    background-color: #ff813307;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    min-height: 30vh;
                    margin: 1rem 0rem;
                    padding: 0.5rem;
                    color:white;
                    &__image{
                        position: absolute;
                        z-index: 1;
                        opacity: 0.1; 
                    }
                    &__title{
                        color: $orange;
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin: 1rem 0rem;
                        z-index: 2;
                    }
                    &__desc{
                        z-index: 2;
                        line-height: 1.2rem;
                    }
                    &__techno{
                        display: flex;
                        color: $orange;
                        justify-content: space-around;
                        width: 100%;
                        margin: 1rem 0rem;
                        z-index: 2;
                    }
                    &__link{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 15vh;
                        z-index: 2;
                    }
                }
            }
        }
        .contact{
            background-color: $darkgrey;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            color: white;
            line-height: 1.2rem;
            .title{
                color: $orange;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0rem;
            }
            .mailto{
                margin: 1rem 0rem;
                text-align: center;
                color:white;
                button{
                    background-color: $orange;
                    padding: 1rem;
                    border: none;
                    color: white;
                    border-radius: 10px;
                }
            }
        }
        .footer{
            display: flex;
            justify-content: center;
            padding: 1rem 0rem;
            .network{
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 10vh;
            }
        }
    }
}