.home {
    height: 100%;
    width: 100%;
    .container{
        position: relative;
        .presentation {
            .whois{
                z-index: 0;
                align-self: center;
                font-size: 3rem;
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
                pointer-events: none;
                .sub{
                    color: white;
                    font-size: 1.3rem;
                }
                .title{
                    font-size: 3rem;
                    font-weight: bold;
                    color: $orange;
                }
                .whatis{
                    color: white;

                }
            }
            .button {
                border: solid 2px $orange;
                font-size: 2rem;
                padding: 0.5rem;
                margin: 1rem;
                color: $orange;
                text-align: center;
                width: 70vw;
            }
        }
        .portfolio{
            border: 2px $orange solid;
            width: 100%;
            background-color: $darkgrey;
            height: 100%;
            padding: 1rem;
            .title{
                color: $orange;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0rem;
            }
            .desc{
                color: white;
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin: 1rem 0rem;
            }
            .technoanimation {
                display: flex;
                justify-content: center;
                height: 100%;
                .prompt-wrapper {
                    position: relative;
                    padding-top: 10px;
                    height: 100%;
                }
                .typing {
                    margin: 1rem;
                    color: white;
                    background-color: $orange;
                    font-size: 2rem;
                    text-transform: uppercase;
                    padding: 1rem;
                    border-radius: 10px;
                }
            }
        }
        .galery{
            height: 100vh;
        }
        .contact{
            height: 100vh;
            border: 2px $orange solid;
            display: flex;
            flex-direction: column;
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    width: 80%;
                }
                textarea{
                    width: 80%;
                }
            }
        }
    }
}