.header {
    position: sticky;
    z-index:2;
    top: 0;
    background-color: $darkgrey;
    height: 10vh;
    width: 100%;
    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        .left{
            color: $orange;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
            font-weight: bold;
            border: solid 2px $orange;
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }
        .right{
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}